nav.navbar.fixed-top {
    border-radius: 0;
    background-color: #5c268e;
    
}

nav.navbar.fixed-top a {
    color:#d38bff;
}

form#filtrarTemas {
    margin: .5em 1em 0 0;
}

.t-morado {
    color: #42116f;
}